.titulo {
    margin: solid 1px black;
    color: white;
    position: absolute;
    padding: 40%;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}

.a {
    text-decoration: none;
    color: black;
}

footer .contenedor {
    display: grid;
    background: cadetblue;
    color: honeydew;
    height: 155px;
    font-size: 20px;
}

@media (max-width:1000px) {
    .titulo {
        display: none;
    }
    footer .contenedor {
        display: grid;
        background: cadetblue;
        color: honeydew;
        height: 500px;
        font-size: 20px;
    }
}